{
  "release": {
    "ci": false,
    "branches": [
      {
        "name": "master"
      },
      {
        "name": "pre/rc",
        "channel": "pre/rc",
        "prerelease": "rc"
      },
      {
        "name": "beta",
        "channel": "beta",
        "prerelease": "beta"
      }
    ]
  }
}
